* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
   
    display: flex;
    background-color: #3E78ED;

    
}

.yasuo{
    height: 10vh;
    width: 20%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.yasuo div{
    height: 10vh;
    width:  80% ;
    
}

.yasuo div img{
    width:  100%;
    height: 100%;
    object-fit: contain;
}

nav{
    height: 10vh;
    width: 70%;
   
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    font-size: 25px;
;}

nav a{
    text-decoration: none;
    color: black;
}


.carrosel{
    height: 90vh;
    border: 1px solid red;
    
}

.carrosel img{
    width:  100%;
    height: 100%;
    object-fit: cover;
   
}

#HOME{
    
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 30%;
    height: 40vh;
    
}


.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.textos{
    width: 30%;
    height: 40vh;
    
  
    justify-content: center;
    align-items: center;
    
}

.texto1{
    width: 100%;
 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;    
}

.texto2{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    flex-direction: column;
}


.botaodomal{
    width: 100%;
    height: 5vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaodomal button{
    width: 50%;
    height: 5vh;
}

#SOBRE{
    height: 100vh;
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ABEFF4;
}




/*
margin = remover margem, a div so se mexe normalmente usa %
padding = ele cresce a div , e empurra outras divs remover paddin inicial e a margin normalmente usa %
box-sizing : border-box; = ela respeita o div dominante
height = altura do site, usar vh ex 100vh
width = largura do site usar %
background color= mudar cor do fundo
min heigth = se o elemento filho for maior que ele faz ele crescer
color = muda cor da fonte 
border : sintaxe = tamanho em pixel, formato da borda ex: solid, cor
display: flex = coloca as div filhas uma do lado da outra e de um arsenal de alinhamentos 
flex-direction: -se usar row linhas ou column em colunas
justify-content = alinha o texto horizintal ex justify-content: center (precisa do display flex pra usar);
align-items = alinha o texto na vertical ex align-items: center (precisa do display flex pra usar);
gap = da espaçamento entra as div filha (precisa do display flex pra usar)
para chamar uma classe se usa . ex .sigma para chamar um id usa #
*/

